{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<nav class="navigation" id="top-nav">
    <div class="navigation__column">
        <a href="{% url 'inst_home' %}">
            <!-- Master branch comment -->
            <img src="{% static 'images/logo.png' %}" />
        </a>
    </div>
    <div class="navigation__column">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search">
    </div>
    <div class="navigation__column">
        <ul class="navigations__links">
            <li class="navigation__list-item">
                <a href="{% url 'inst_home' %}" class="navigation__link" style="text-decoration: none;">
                    <i class="fa fa-home fa-2x" aria-hidden="true" id="display-none"></i>
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="" class="navigation__link">
                    <i class="fa fa-compass fa-2x" id="display-none"></i>
                </a>
            </li>
            <li class=" navigation__list-item">
                <a href="" class="navigation__link" style="text-decoration: none;">
                    <i class="fa fa-telegram fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            <li class="navigation__list-item">
                <a href="" class="navigation__link" style="text-decoration: none;">
                    <i class="fa fa-heart-o fa-2x" id="display-none"></i>
                </a>
            </li>
            <li class=" navigation__list-item">
                <a href="{% url 'profile' %}" class="navigation__link" style="text-decoration: none;">
                    <img src="{% static 'images/feedPhoto.jpg' %}" alt=""
                        style="width: 28px;height: 28px;border-radius: 50%;" id="display-none">
                </a>
            </li>
        </ul>
    </div>
</nav>
<main id="feed">
    <div class="photo">
        <header class="photo__header">
            <img src="{% static 'images/avatar.jpg' %}" class="photo__avatar" />
            <div class="photo__user-info">
                <span class="photo__author">inthetiger</span>
                <span class="photo__location">Bestechung</span>
            </div>
        </header>
        <img src="{% static 'images/feedPhoto.jpg' %}" />
        <div class="photo__info">
            <div class="photo__actions">
                <span class="photo__action">
                    <i class="fa fa-heart-o fa-lg"></i>
                </span>
                <span class="photo__action">
                    <i class="fa fa-comment-o fa-lg"></i>
                </span>
            </div>
            <span class="photo__likes">45 likes</span>
            <ul class="photo__comments">
                <li class="photo__comment">
                    <span class="photo__comment-author">serranoarevalo</span> love this!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">serranoarevalo</span> love this!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">serranoarevalo</span> love this!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">serranoarevalo</span> love this!
                </li>
            </ul>
            <span class="photo__time-ago">2 hours ago</span>
            <div class="photo__add-comment-container">
                <textarea name="comment" placeholder="Add a comment..."></textarea>
                <i class="fa fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="photo">
        <header class="photo__header">
            <img src="{% static 'images/avatar.jpg' %}" class="photo__avatar" />
            <div class="photo__user-info">
                <span class="photo__author">inthetiger</span>
                <span class="photo__location">Bestechung</span>
            </div>
        </header>
        <img src="{% static 'images/feedPhoto.jpg' %}" />
        <div class="photo__info">
            <div class="photo__actions">
                <span class="photo__action">
                    <i class="fa fa-heart-o fa-lg"></i>
                </span>
                <span class="photo__action">
                    <i class="fa fa-comment-o fa-lg"></i>
                </span>
            </div>
            <span class="photo__likes">45 likes</span>
            <ul class="photo__comments">
                <li class="photo__comment">
                    <span class="photo__comment-author">serranoarevalo</span> love this!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">serranoarevalo</span> love this!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">serranoarevalo</span> love this!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">serranoarevalo</span> love this!
                </li>
            </ul>
            <span class="photo__time-ago">2 hours ago</span>
            <div class="photo__add-comment-container">
                <textarea name="comment" placeholder="Add a comment..."></textarea>
                <i class="fa fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__column">
        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#" class="footer__link">About Us</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Support</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Blog</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Press</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Api</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Jobs</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Privacy</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Terms</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Directory</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">Language</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer__column">
        <span class="footer__copyright">© 2017 Vietgram</span>
    </div>
</footer>
<nav class="navigation-btm">
    <ul class="navigations__links">
        <li class="navigation__list-item">
            <a href="{% url 'inst_home' %}" class="navigation__link">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="" class="navigation__link">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="" class="navigation__link">
                <form action="{% url 'inst_get' %}" method="post" id='submit' enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="file-input" style="display: block;">
                        <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                    </label>
                    <input type="file" id="file-input" style="visibility: hidden; width: 0; height: 0;">
                </form>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="" class="navigation__link">
                <i class="fa fa-heart-o fa-2x"></i>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="{% url 'profile' %}" class="navigation__link">
                <img src="{{ user.profile.image.url }}" alt="">
            </a>
        </li>
    </ul>
</nav>
{% endblock content %}