{% extends 'base.html' %}
{% block content %}
<form>
    <div class="post">
        <div class="nav-post">
            <div class="icon">
                <a href="!#">
                    < </a>
            </div>
            <div class="text">
                <p>New Post</p>
            </div>
            <div class="share"><a href="!#Share">Share</a></div>
        </div>
        <div class="post-content">
            <div class="user-pic">
                <img src="{{ user.profile.image.url }}" alt="User post">
            </div>
            <div class="post-text">
                <textarea name="text" id="text" cols="30" rows="10"></textarea>
            </div>
            <div class="post-pic">
                <img src="{{ last_post.image.url }}" alt="pre-post">
            </div>
        </div>
        <!-- <div class="locate">
            <p>Add Location</p>
            <a href="!#">></a>
        </div>
        <div class="tag-people">
            <p>Tag People</p>
            <a href="!#">></a>
        </div> -->
    </div>
</form>
{% endblock content %}